Repository BlueflyCollective/openstandardagents: changes, and which lint-staged commands are due for each by the changed paths.
All: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, eslint --fix, prettier --write

fix: convert release.config.js to ES module syntax
  __DELETE_LATER/AGENT_MIGRATION_PLAN.md
  __DELETE_LATER/CLEANUP_PLAN.md
  __DELETE_LATER/FINAL_REPORT.md
  __DELETE_LATER/MIGRATION_COMPLETE.md
  __DELETE_LATER/MIGRATION_COMPLETE_SUMMARY.md
  __DELETE_LATER/MIGRATION_GUIDE_v1_to_v0.2.2.md
  __DELETE_LATER/SUMMARY.md
  __DELETE_LATER/agent-migration-audit.md
  __DELETE_LATER/misc/generate-all-services.ts
  __DELETE_LATER/misc/validate-ossa-0.2.2.ts
  release.config.js
Due: eslint --fix, prettier --write

feat: complete Phase 1 fixes - migrate command, examples, and framework extensions
  __DELETE_LATER/AGENT_MIGRATION_PLAN.md
  __DELETE_LATER/CHANGELOG.md
  __DELETE_LATER/CLEANUP_PLAN.md
  __DELETE_LATER/FINAL_REPORT.md
  __DELETE_LATER/MIGRATION_COMPLETE.md
  __DELETE_LATER/MIGRATION_COMPLETE_SUMMARY.md
  __DELETE_LATER/MIGRATION_GUIDE_v1_to_v0.2.2.md
  __DELETE_LATER/SUMMARY.md
  __DELETE_LATER/agent-migration-audit.md
  __DELETE_LATER/docs/OpenAPI-Extensions.md
  __DELETE_LATER/docs/Quick-Reference.md
  __DELETE_LATER/docs/README.md
  __DELETE_LATER/docs/VERSIONING.md
  __DELETE_LATER/docs/drupal-platform.md
  __DELETE_LATER/docs/getting-started.md
  __DELETE_LATER/docs/openapi-extensions.md
  __DELETE_LATER/examples/README.md
  __DELETE_LATER/misc/OSSA-SPECIFICATION-v0.1.9.md
  __DELETE_LATER/misc/OSSA-SPECIFICATION-v0.2.2.md
  __DELETE_LATER/misc/README.md
  __DELETE_LATER/misc/generate-all-services.ts
  __DELETE_LATER/misc/index.md
  __DELETE_LATER/misc/issue-schema-duplication.md
  __DELETE_LATER/misc/ossa-standard.md
  __DELETE_LATER/misc/readme.md
  __DELETE_LATER/misc/validate-ossa-0.2.2.ts
  examples/common_npm/agent-router.v0.2.2.ossa.yaml
  spec/v0.2.2/ossa-0.2.2.schema.json
  src/cli/commands/migrate.command.ts
  src/cli/commands/validate.command.ts
  src/services/validation.service.ts
  src/types/openapi-extensions.ts
Due: eslint --fix, prettier --write

chore: add infrastructure
  infrastructure/docker-compose.yml
Due: prettier --write

chore: migrate to GitLab Components and remove Makefiles/shell scripts
  .gitlab-ci.yml
  bin/ossa
  openapi/ossa-registry.openapi.yml
  spec/v0.2.2/ossa-0.2.2.yaml
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, prettier --write

chore: migrate to GitLab Components and remove Makefiles/shell scripts
  README.md
  bin/ossa
Due: prettier --write

feat(ossa): add OpenAI Agents SDK bridge extension
  .gitlab-ci.yml
  examples/production/document-analyzer-openai.yml
  ossa-standard/cli/index.ts
  ossa-standard/src/agent.ts
  ossa-standard/src/validation.ts
  ossa-standard/src/workspace.ts
  spec/v0.2.2/ossa-0.2.2.schema.json
Due: eslint --fix, prettier --write

feat(ossa): add OpenAI Agents SDK bridge extension
  .gitlab-ci.yml
  examples/production/document-analyzer-openai.yml
  spec/v0.2.2/ossa-0.2.2.schema.json
Due: prettier --write

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.0.0-dev.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: ignore worktrees and demo directories
  .gitignore
Due: none

chore: remove README.md from examples/kagent per project policy (docs in GitLab Wiki)
  examples/kagent/README.md
Due: prettier --write

fix(ci): replace missing component with working CI pipeline
  .gitlab-ci.yml
Due: prettier --write

fix(ci): use default coverage reporters from jest.config
  .gitlab-ci.yml
Due: prettier --write

fix(ci): correct component path to include templates/ prefix
  .gitlab-ci.yml
Due: prettier --write

fix(ci): improve CI config with better error handling
  .gitlab-ci.yml
Due: prettier --write

chore(release): set version to 0.2.3 for documentation & examples release
  package.json
Due: prettier --write

fix(ci): use golden workflow@main instead of v0.2.3
  .gitlab-ci.yml
Due: prettier --write

feat(wiki): add wiki repository to version control in .gitlab/wiki/
  .gitignore
Due: none

docs(readme): update links and version for v0.2.3
  README.md
Due: prettier --write

fix(ci): switch to permissive mode - allow all merges
  .gitlab-ci.yml
Due: prettier --write

feat: migrate to openstandardagents.org domain
  openapi/ossa-registry-api.yaml
  openapi/ossa-registry.openapi.yml
  spec/v0.2.2/ossa-0.2.2.schema.json
  spec/v0.2.2/ossa-0.2.2.yaml
  spec/v0.2.2/ossa-reasoning-compliance-1.0.schema.json
  spec/v0.2.3/ossa-0.2.3.yaml
  spec/v1.0/ossa-1.0.schema.json
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, prettier --write

chore: Remove website directory (moved to separate repo)
  assets/brand/ossa-logo.svg
  website/next.config.ts
  website/postcss.config.mjs
  website/tailwind.config.ts
Due: eslint --fix, prettier --write

chore: Clean up and ensure MR ready
  .gitlab-ci.yml
  .gitlab/components/workflow/golden/README.md
  bin/validate-ossa-0.2.2.ts
  docs/README.md
  docs/VERSIONING.md
  docs/getting-started.md
  docs/openapi-extensions.md
  docs/wiki/OpenAPI-Extensions.md
  docs/wiki/Quick-Reference.md
  docs/wiki/README.md
  examples/openapi-extensions/README.md
  ossa-standard/cli/index.ts
  ossa-standard/spec/ossa-standard.md
  ossa-standard/src/agent.ts
  ossa-standard/src/validation.ts
  ossa-standard/src/workspace.ts
  public/.!65981!.DS_Store
  public/.!98978!.DS_Store
  public/docs/.!65983!.DS_Store
  public/docs/.!98981!.DS_Store
  src/types/openapi-extensions.ts
Due: eslint --fix, prettier --write

chore: remove unnecessary files from merge
  ossa-standard/cli/index.ts
  ossa-standard/spec/ossa-standard.md
  ossa-standard/src/agent.ts
  ossa-standard/src/validation.ts
  ossa-standard/src/workspace.ts
  public/.!65981!.DS_Store
  public/.!98978!.DS_Store
  public/docs/.!65983!.DS_Store
  public/docs/.!98981!.DS_Store
Due: eslint --fix, prettier --write

fix(tests): update all test manifests to v0.2.3 Kubernetes-style format
  spec/ossa-v0.1.9.schema.json
  src/repositories/schema.repository.ts
  tests/integration/examples/validate-all-examples.test.ts
  tests/unit/repositories/schema.repository.test.ts
  tests/unit/services/validation.service.test.ts
Due: eslint --fix, prettier --write

fix(tests): apply v0.2.3 test fixes from development
  src/repositories/schema.repository.ts
  tests/integration/examples/validate-all-examples.test.ts
  tests/unit/repositories/schema.repository.test.ts
  tests/unit/services/validation.service.test.ts
Due: eslint --fix, prettier --write

fix: update tests to use v0.2.3 format (apiVersion/kind/metadata/spec)
  tests/integration/examples/validate-all-examples.test.ts
  tests/unit/repositories/schema.repository.test.ts
  tests/unit/services/validation.service.test.ts
Due: eslint --fix, prettier --write

fix: remove invalid tool description property and fix warning test
  tests/integration/examples/validate-all-examples.test.ts
  tests/unit/services/validation.service.test.ts
Due: eslint --fix, prettier --write

fix: add metadata existence check in validation test
  tests/unit/services/validation.service.test.ts
Due: eslint --fix, prettier --write

fix: update CI to use dist/cli/index.js instead of bin/ossa.js
  .gitlab-ci.yml
Due: prettier --write

fix: replace 'any' types with OssaAgent type in validation tests
  tests/unit/services/validation.service.test.ts
Due: eslint --fix, prettier --write

fix: resolve CI pipeline failures and repository cleanup
  .agents/.!64435!.DS_Store
  .agents/.!95225!.DS_Store
  .agents/critics/.!64436!.DS_Store
  .agents/critics/.!95229!.DS_Store
  .agents/governors/.!64474!.DS_Store
  .agents/governors/.!95307!.DS_Store
  .agents/integrators/.!64541!.DS_Store
  .agents/integrators/.!95572!.DS_Store
  .agents/monitors/.!64169!.DS_Store
  .agents/monitors/.!94995!.DS_Store
  .agents/orchestrators/.!64687!.DS_Store
  .agents/orchestrators/.!95971!.DS_Store
  .agents/workers/.!65046!.DS_Store
  .agents/workers/.!96990!.DS_Store
  .gitlab-ci.yml
  .gitlab/.!64110!.DS_Store
  .gitlab/.!94701!.DS_Store
  .gitlab/components/.!64116!.DS_Store
  .gitlab/components/.!94721!.DS_Store
  examples/.!66010!.DS_Store
  examples/.!99011!.DS_Store
  examples/advanced/.!66004!.DS_Store
  examples/advanced/.!99004!.DS_Store
  examples/agent-manifests/.!66026!.DS_Store
  examples/agent-manifests/.!99028!.DS_Store
  examples/architecture/.!66021!.DS_Store
  examples/architecture/.!99022!.DS_Store
  tests/.!64152!.DS_Store
  tests/.!94925!.DS_Store
Due: prettier --write

docs: add comprehensive Contributing guide and OSSA Compliant badge
  CONTRIBUTING.md
  docs/OSSA-COMPLIANT-BADGE.md
  lefthook.yml
Due: prettier --write

feat: prepare OSSA website for GitLab Pages deployment
  .gitlab-ci.yml
  package-lock.json
  website/app/page.tsx
  website/package-lock.json
Due: eslint --fix, prettier --write

fix: pages job stage should be .post not deploy
  .gitlab-ci.yml
Due: prettier --write

Path conditions:
  npx @redocly/cli lint --config ../.redocly.yaml: any of: **/*.{openapi.yml,openapi.yaml}
  npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json: any of: **/*.{openapi.yml,openapi.yaml}
  npx @redocly/cli lint --config .redocly.yaml: any of: **/openapi/*.{yml,yaml}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{json,md,yml,yaml})
