Repository BlueflyCollective/openstandardagents: changes, and which lint-staged commands are due for each by the changed paths.
All: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, eslint --fix, prettier --write

docs(spec): update specification docs to OSSA 1.0.0 standard
  public/docs/specification/agents-workspace.md
  public/docs/specification/agents.md
  public/docs/specification/index.md
Due: prettier --write

fix: organize OpenAPI specs in openapi/ subdirectory
  openapi/openapi/helm-generator.yaml
  openapi/openapi/openapi.yml
  openapi/openapi/ossa-registry-api.yaml
  openapi/openapi/ossa-registry.openapi.yml
  openapi/openapi/self-evolving-ecosystem-v1.yaml
  package.json
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, prettier --write

ci: use standard GitLab CI without custom components
  .gitlab-ci.yml
Due: prettier --write

chore: release v0.2.0 - major consolidation and standards compliance
  .gitlab-ci.yml
  CHANGELOG.md
  package.json
  tests/validation-suite/schema-validator.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: add .claude-agents/ to gitignore to prevent IDE-specific agent definitions
  .gitignore
Due: none

fix: remove broken component include from CI pipeline
  .gitlab-ci.yml
Due: prettier --write

fix: change releases to manual triggers on main branch only
  .gitlab-ci.yml
Due: prettier --write

fix: correct version from 1.0.0 to 0.3.0
  .gitlab-ci.yml
  package.json
Due: prettier --write

fix: correct version to 0.2.1 (patch bump)
  .gitlab-ci.yml
  CHANGELOG.md
  package.json
Due: prettier --write

update schema
  schemas/examples/audit-agent.yml
  schemas/examples/chat-agent.yml
  schemas/examples/compliance-agent.yml
  schemas/examples/data-processing-agent.yml
  schemas/examples/development-agent.yml
  schemas/examples/edge-agent.yml
  schemas/examples/integration-agent.yml
  schemas/examples/monitoring-agent.yml
  schemas/examples/serverless-agent.yml
  schemas/examples/workflow-agent.yml
Due: prettier --write

feat(compliance): Add OSSA reasoning compliance extension schema for chain-of-thought auditing
  spec/ossa-reasoning-compliance-1.0.schema.json
Due: prettier --write

chore: sync latest changes
  .gitlab/issue-schema-duplication.md
Due: prettier --write

chore: sync changes from agent development
  .agents/RECOVERED-FOR-GITLAB-WIKI.txt
Due: none

feat: add kagent.dev and AIFlow-Agent bridge support to OSSA 1.0
  cli/src/commands/convert-to-kagent.js
  cli/src/commands/deploy-all-to-kagent.js
  examples/bridges/aiflow-bridge-example.yml
  examples/bridges/kagent-bridge-example.yml
  spec/ossa-1.0.schema.json
  spec/ossa-1.0.yaml
Due: eslint --fix, prettier --write

feat: add CryptoSage AIFlow social agent example
  .agents/social-agent-aiflow.ossa.yaml
Due: prettier --write

feat: complete OSSA ecosystem automation suite
  .agents/automation/ecosystem-health-agent.ossa.yaml
  cli/src/commands/convert-to-kagent.js
  cli/src/commands/ecosystem-health-scan.js
  cli/src/commands/kagent-cleanup.js
  examples/bridges/aiflow-bridge-example.yml
  examples/bridges/kagent-bridge-example.yml
Due: eslint --fix, prettier --write

feat: add ecosystem tasks orchestrator agent
  .agents/automation/ecosystem-tasks-orchestrator.ossa.yaml
Due: prettier --write

feat: mass cleanup and standardization - ZERO ERRORS
  .agents/cleanup-team.sh
  .agents/gitlab-issue-template.txt
  .agents/gitlab-mr-workflow.txt
  .agents/gitlab-wiki-content.txt
  .agents/integration-team.sh
  .agents/master-orchestrator.sh
  .agents/merge-request-helper.sh
  .agents/testing-team.sh
  .agents/validation-team.sh
Due: none

feat(aiflow): Phase 3 - Production deployment, load testing, monitoring
  examples/bridges/.gitlab-ci.yml
  examples/bridges/Dockerfile.production
  examples/bridges/k8s/configmap.yaml
  examples/bridges/k8s/deployment.yaml
  examples/bridges/k8s/hpa.yaml
  examples/bridges/k8s/ingress.yaml
  examples/bridges/load-tests/k6-load-test.js
  examples/bridges/loadtest/k6-scenarios.js
  examples/bridges/requirements.txt
Due: eslint --fix, prettier --write

chore: add ecosystem cleanup orchestrator and health scan
  .agents/orchestrators/ecosystem-cleanup-orchestrator/agent.yml
  cli/src/commands/ecosystem-health-scan.js
  cli/src/commands/spawn-cleanup-army.js
Due: eslint --fix, prettier --write

feat: Enhanced OSSA CLI with audit, inspect, and schema commands
  package.json
Due: prettier --write

chore: cleanup failed agent experiments
  cli/src/commands/ecosystem-health-scan.js
  cli/src/commands/spawn-cleanup-army.js
Due: eslint --fix, prettier --write

fix(aiflow): URGENT - Reduce CPU requests from 500m to 50m
  examples/bridges/k8s/deployment.yaml
  examples/bridges/k8s/hpa.yaml
Due: prettier --write

style: Fix formatting in validate-resources.ts
  examples/bridges/k8s/validate-resources.ts
Due: eslint --fix, prettier --write

cleanup: Remove AIFlow examples - merged into agent-studio
  examples/bridges/.gitlab-ci.yml
  examples/bridges/aiflow-bridge-enhanced.py
  examples/bridges/aiflow-bridge-example.yml
  examples/bridges/aiflow-phoenix-tracing.py
  examples/bridges/aiflow-registration-api.openapi.yml
  examples/bridges/k8s/configmap.yaml
  examples/bridges/k8s/deployment.yaml
  examples/bridges/k8s/hpa.yaml
  examples/bridges/k8s/ingress.yaml
  examples/bridges/k8s/validate-resources.ts
  examples/bridges/kagent-bridge-example.yml
  examples/bridges/load-tests/Dockerfile
  examples/bridges/load-tests/k6-load-test.js
  examples/bridges/load-tests/requirements.txt
  examples/bridges/test_aiflow_integration.py
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, eslint --fix, prettier --write

chore: clean up markdown files and organize tools
  examples/bridges/k8s/deployment.yaml
  examples/bridges/phase4/INCIDENT-RESPONSE.md
  tools/branch-consolidation.sh
  tools/cleanup-report.sh
  tools/deploy-agent.sh
Due: prettier --write

cleanup: Remove 10 shell scripts (architecture violation)
  .agents/cleanup-team.sh
  .agents/integration-team.sh
  .agents/master-orchestrator.sh
  .agents/merge-request-helper.sh
  .agents/testing-team.sh
  .agents/validation-team.sh
  examples/bridges/phase4/chaos-test-runner.sh
  tools/branch-consolidation.sh
  tools/cleanup-report.sh
  tools/deploy-agent.sh
Due: none

Path conditions:
  npx @redocly/cli lint --config ../.redocly.yaml: any of: **/*.{openapi.yml,openapi.yaml}
  npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json: any of: **/*.{openapi.yml,openapi.yaml}
  npx @redocly/cli lint --config .redocly.yaml: any of: **/openapi/*.{yml,yaml}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{json,md,yml,yaml})
