Repository BlueflyCollective/openstandardagents: changes, and which lint-staged commands are due for each by the changed paths.
All: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, eslint --fix, prettier --write

feat: OSSA v0.1.9 with kAgent extension support
  README.md
  examples/kagent/README.md
  examples/kagent/compliance-validator.ossa.yaml
  examples/kagent/cost-optimizer.ossa.yaml
  examples/kagent/documentation-agent.ossa.yaml
  examples/kagent/k8s-troubleshooter.ossa.yaml
  examples/kagent/security-scanner.ossa.yaml
  schemas/extensions/kagent-v1.yml
  spec/OSSA-SPECIFICATION-v0.1.9.md
  spec/ossa-v0.1.9.schema.json
Due: prettier --write

fix: schema formatting
  spec/ossa-v0.1.9.schema.json
Due: prettier --write

fix: complete ESM module support with proper .js extensions
  bin/ossa
  package.json
  src/cli/commands/generate.command.ts
  src/cli/commands/migrate.command.ts
  src/cli/commands/validate.command.ts
  src/cli/index.ts
  src/di-container.ts
  src/index.ts
  src/repositories/schema.repository.ts
  src/services/generation.service.ts
  src/services/migration.service.ts
  src/services/validation.service.ts
Due: eslint --fix, prettier --write

fix(ci): remove colon from commit message to fix YAML parsing
  .gitlab-ci.yml
Due: prettier --write

docs: fix all URLs and add author bio
  .agents/workers/drupal-migration-intelligence/agent.yml
  .agents/workers/drupal-module-developer/agent.yml
  .agents/workers/drupal-security-compliance/agent.yml
  .gitlab-ci.yml
  .gitlab/components/workflow/golden/README.md
  .gitlab/components/workflow/golden/template.yml
  CHANGELOG.md
  README.md
  docs/README.md
  docs/getting-started.md
  openapi/openapi.yaml
  openapi/self-evolving-ecosystem-v1.yaml
  package.json
  public/redocly-config.yaml
Due: npx @redocly/cli lint --config .redocly.yaml, prettier --write

fix: add v0.2.2 schema support and set as default
  src/cli/commands/validate.command.ts
  src/repositories/schema.repository.ts
  src/services/validation.service.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

fix: add v0.2.2 schema JSON files to git
  spec/v0.2.2/ossa-0.2.2.schema.json
  spec/v0.2.2/ossa-reasoning-compliance-1.0.schema.json
  src/cli/commands/validate.command.ts
Due: eslint --fix, prettier --write

fix: revert to version 0.2.2 and fix schema validation
  .releaserc.json.disabled
  package.json
  spec/v0.2.2/ossa-0.2.2.schema.json
  src/cli/commands/validate.command.ts
  src/services/validation.service.ts
Due: eslint --fix, prettier --write

feat: complete OSSA v0.2.2 agent migration with framework integration
  AGENT_MIGRATION_PLAN.md
  MIGRATION_COMPLETE.md
  MIGRATION_GUIDE_v1_to_v0.2.2.md
  SUMMARY.md
  agent-migration-audit.md
  examples/common_npm/agent-router.v0.2.2.ossa.yaml
  examples/drupal/gitlab-ml-recommender.v0.2.2.ossa.yaml
  examples/kagent/k8s-troubleshooter-v1.v0.2.2.ossa.yaml
  scripts/README.md
  scripts/migrate-oss  agent.js
  scripts/migrate-ossa-agent.cjs
  scripts/migrate-ossa-agent.js
  scripts/validate-migrated-agents.sh
Due: eslint --fix, prettier --write

docs: add final migration completion report
  FINAL_REPORT.md
  MIGRATION_COMPLETE_SUMMARY.md
Due: prettier --write

feat: integrate v1.0 to v0.2.2 migration into OSSA CLI
  scripts/README.md
  scripts/migrate-oss  agent.js
  scripts/migrate-ossa-agent.cjs
  scripts/migrate-ossa-agent.js
  scripts/validate-migrated-agents.sh
  src/cli/commands/migrate.command.ts
  src/services/migration.service.ts
Due: eslint --fix, prettier --write

fix: update all tests for v0.2.2 format
  src/cli/commands/migrate.command.ts
  src/services/generation.service.ts
  src/services/migration.service.ts
  tests/integration/cli/validate.test.ts
  tests/unit/services/generation.service.test.ts
  tests/unit/services/migration.service.test.ts
Due: eslint --fix, prettier --write

fix: validate command supports both v0.2.2 and v1.0 formats
  src/cli/commands/validate.command.ts
Due: eslint --fix, prettier --write

fix(ci): update Node.js version to 22 for semantic-release compatibility
  .gitlab-ci.yml
Due: prettier --write

fix(ci): remove stray text and update development branch git config
  .gitlab-ci.yml
Due: prettier --write

feat(ci): add manual promotion and release buttons
  .gitlab-ci.yml
Due: prettier --write

chore(ci): enhance release jobs with better messaging and environments
  .gitlab-ci.yml
Due: prettier --write

chore(ci): fix semantic-release jobs; export GITLAB_TOKEN; correct changelog text
  .gitlab-ci.yml
  CHANGELOG.md
Due: prettier --write

fix(ci): make promote-to-main script a single multiline string to satisfy YAML parsing
  .gitlab-ci.yml
Due: prettier --write

chore(ci): add release.config.js so semantic-release config is present in CI
  release.config.js
Due: eslint --fix, prettier --write

fix(ci): remove invalid need on promote-to-main (cannot need later-stage job)
  .gitlab-ci.yml
Due: prettier --write

fix(ci): promote-to-main handles shallow clones and unrelated histories; add auth remote
  .gitlab-ci.yml
Due: prettier --write

fix(ci): make promote-to-main fast-forward-only; auto-create MR on conflicts via API
  .gitlab-ci.yml
Due: prettier --write

chore: remove empty schemas/ directory (duplicate of spec/)
  schemas/.!65973!.DS_Store
  schemas/.!98969!.DS_Store
Due: none

fix: all tests pass with v0.2.2 format
  bin/validate-ossa-0.2.2.ts
  package.json
  src/cli/commands/generate.command.ts
  src/cli/commands/validate.command.ts
  tests/e2e/full-workflow.test.ts
  tests/integration/cli/generate.test.ts
  tests/unit/services/generation.service.test.ts
Due: eslint --fix, prettier --write

chore: add OpenAPI extensions to package exports and build
  package.json
Due: prettier --write

chore(ci): enhance npmjs job with better messaging and environment tracking
  .gitlab-ci.yml
Due: prettier --write

chore(cleanup): quarantine local markdown docs into __DELETE_LATER per policy
  .gitlab/components/workflow/golden/README.md
  __DELETE_LATER/CHANGELOG.md
  __DELETE_LATER/docs/OpenAPI-Extensions.md
  __DELETE_LATER/docs/Quick-Reference.md
  __DELETE_LATER/docs/README.md
  __DELETE_LATER/docs/VERSIONING.md
  __DELETE_LATER/docs/drupal-platform.md
  __DELETE_LATER/docs/getting-started.md
  __DELETE_LATER/docs/openapi-extensions.md
  __DELETE_LATER/examples/README.md
  __DELETE_LATER/misc/OSSA-SPECIFICATION-v0.1.9.md
  __DELETE_LATER/misc/OSSA-SPECIFICATION-v0.2.2.md
  __DELETE_LATER/misc/README.md
  __DELETE_LATER/misc/index.md
  __DELETE_LATER/misc/issue-schema-duplication.md
  __DELETE_LATER/misc/ossa-standard.md
  __DELETE_LATER/misc/readme.md
  docs/README.md
  examples/drupal/README.md
  examples/kagent/README.md
  public/docs/getting-started/index.md
Due: prettier --write

Path conditions:
  npx @redocly/cli lint --config ../.redocly.yaml: any of: **/*.{openapi.yml,openapi.yaml}
  npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json: any of: **/*.{openapi.yml,openapi.yaml}
  npx @redocly/cli lint --config .redocly.yaml: any of: **/openapi/*.{yml,yaml}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{json,md,yml,yaml})
