Repository BlueflyCollective/openstandardagents: changes, and which lint-staged commands are due for each by the changed paths.
All: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, eslint --fix, prettier --write

fix: resolve TypeScript compilation errors in CLI commands
  src/cli/commands/docs/docs-safe-reorg.ts
  src/cli/commands/docs/generate-api-docs.ts
  src/cli/commands/federation/activate-federated-learning.ts
Due: eslint --fix, prettier --write

fix: resolve Jest configuration and additional agent class naming issues
  .agents/integrators/endpoint-tester/tests/unit/endpoint-tester.test.ts
  .agents/workers/qdrant-vector-specialist/handlers/qdrant-vector-specialist.handlers.ts
  .agents/workers/qdrant-vector-specialist/tests/unit/qdrant-vector-specialist.test.ts
  jest.config.js
Due: eslint --fix, prettier --write

feat: major project cleanup and documentation improvements
  .eslintrc.json
  CLEANUP-PLAN.md
  README.md
  docs/ARCHITECTURE.md
  docs/branding/OSSA-Brand-README.md
  docs/branding/ossa-brand-overview.md
  docs/branding/ossa-community-guidelines.md
  docs/branding/ossa-messaging-framework.md
  docs/branding/ossa-technical-standards.md
  docs/branding/ossa-visual-identity.md
  docs/guides/ollama-integration.md
  examples/README.md
  examples/advanced/patterns/compliance-context-production.json
  examples/advanced/workflows/hybrid-model-strategy.yaml
  examples/agent-manifests/README.md
  examples/agent-manifests/critics/critic-agent.yaml
  examples/agent-manifests/governors/governor-agent.yaml
  examples/agent-manifests/integrators/integrator-agent.yaml
  examples/agent-manifests/judges/judge-agent.yaml
  examples/agent-manifests/monitors/monitor-agent.yaml
  examples/agent-manifests/orchestrators/orchestrator-agent.yaml
  examples/agent-manifests/sample-compliant-agent.yaml
  examples/agent-manifests/workers/worker-agent.yaml
  examples/architecture/mcp/mcp-agent-examples.md
  examples/architecture/model-configuration/model-configuration-examples.md
  examples/architecture/model-configuration/ollama-integration.ts
  examples/production-hybrid-setup.md
  examples/quickstart/README.md
  examples/smart-model-routing.ts
  examples/typescript/advanced/demo-registry.ts
  infrastructure/.env.example
  infrastructure/.infrastructure.yaml
  infrastructure/Dockerfile
  infrastructure/Makefile
  infrastructure/docker-compose.yml
  infrastructure/kubernetes/deployment.yaml
  infrastructure/kubernetes/service.yaml
  infrastructure/ossa.config.yaml
  test-ollama.js
Due: eslint --fix, prettier --write

fix: add core-js dependency to resolve CI package-lock sync issue
  package-lock.json
  package.json
Due: prettier --write

fix: convert OSSA CLI to run TypeScript directly with tsx
  bin/ossa
  bin/ossa-deploy
  package.json
  src/services/validation/validation-service.ts
Due: eslint --fix, prettier --write

fix: correct package name to @bluefly/open-standards-scalable-agents
  package.json
Due: prettier --write

fix: update test to use correct package name
  tests/basic.test.ts
Due: eslint --fix, prettier --write

test: add pipeline status badge to trigger CI test
  README.md
Due: prettier --write

fix: update lefthook configuration
  lefthook.yml
Due: prettier --write

fix: enhance lefthook and apply prettier formatting
  .gitlab-ci.yml
Due: prettier --write

fix: resolve OpenAPI validation errors for pipeline success
  package-lock.json
  src/api/core/acdl-specification.openapi.yml
  src/api/core/ossa-complete.openapi.yml
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, prettier --write

chore: update version to 0.1.9 for proper release tagging
  package.json
Due: prettier --write

update ci
  .env.phoenix
  .gitlab-ci.yml
  docs/AUTOMATED_WORKFLOWS_FRAMEWORK.yaml
  docs/COST_OPTIMIZATION_FRAMEWORK.yaml
  docs/ECOSYSTEM_MODERNIZATION_SUMMARY.md
  docs/INFRASTRUCTURE_MASTER_PLAN.md
  docs/PERFORMANCE_BENCHMARKING_FRAMEWORK.yaml
  docs/PHASE_4_ACCELERATION_PLAN.md
  docs/PHASE_4_IMPLEMENTATION_SUMMARY.md
  docs/ROADMAP_UPDATE_PROGRESS.md
  docs/STRATEGIC_DOCUMENTS_README.md
  tests/basic.test.ts
  tools/ossa-compliance-validator.js
  tools/simple-compliance-check.js
Due: eslint --fix, prettier --write

fix: resolve OpenAPI validation errors in JsonPatchOperation schema
  .redocly.yaml
  src/api/core/ossa-complete.openapi.yml
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, prettier --write

docs: add comprehensive API documentation and tutorials
  docs/api/GETTING_STARTED.md
  docs/api/TUTORIALS.md
Due: prettier --write

docs: add comprehensive OSSA Agent Wizard Guide
  .agents/orchestrators/ossa-standards-orchestrator/README.md
  .agents/orchestrators/ossa-standards-orchestrator/agent.yml
  .agents/registry.yml
  docs/AGENT_WIZARD_GUIDE.md
Due: prettier --write

fix: replace external example reference with inline value
  src/api/core/ossa-complete.openapi.yml
  src/types/api-client.ts
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, eslint --fix, prettier --write

fix: improve CI/CD release job to properly create tags
  .gitlab-ci.yml
  src/cli/commands/fix/import-fixer.ts
  src/cli/commands/fix/openapi-crud.ts
  src/cli/ossa-cli.ts
Due: eslint --fix, prettier --write

feat: add OSSA orchestrator agent definition
  .agents/definitions/ossa-orchestrator.md
Due: prettier --write

chore: cleanup
  .gitlab/issue_templates/bug_report.md
  .gitlab/issue_templates/feature_request.md
  .gitlab/issue_templates/security_issue.md
  .gitlab/issue_templates/task.md
  .gitlab/issue_templates/tech_debt.md
  OSSA_ASSESSMENT_REPORT.md
  docs/MIGRATION.md
  docs/audits/audit-report.md
  docs/audits/file-audit-report.md
  docs/compliance/workspace-compliance-report.md
  docs/deployment/phase1-deployment-report.md
  docs/resources/acta-framework-validation-report.md
  docs/resources/migration/complete-migration-guide.md
  infrastructure/CLEANUP_SUMMARY.md
  package-lock.json
  package.json.bak
  pnpm-lock.yaml
  src/api/observability/deployment.openapi.yml
  src/cli/commands/observability/deploy.ts
  src/cli/core/openapi-client.ts
  src/cli/ossa-cli.ts
  src/cli/utils/logger.ts
  src/cli/utils/spinner.ts
  src/cli/utils/table.ts
  tsconfig.json
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, eslint --fix, prettier --write

chore: post-hook cleanup
  src/services/visualization/MermaidService.ts
Due: eslint --fix, prettier --write

feat: add architecture visualization services
  src/services/visualization/D3DataService.ts
  src/services/visualization/GraphvizService.ts
  src/services/visualization/MermaidService.ts
  src/services/visualization/VisualizationService.ts
Due: eslint --fix, prettier --write

feat: add visualize CLI command
  src/cli/commands/visualize.ts
Due: eslint --fix, prettier --write

test: add visualization tests
  .gitignore
  tests/visualization/D3DataService.test.ts
  tests/visualization/MermaidService.test.ts
  tests/visualization/VisualizationService.test.ts
Due: eslint --fix, prettier --write

docs: add visualization deployment documentation
  docs/STRATEGIC_VISUALIZATION_DEPLOYMENT.md
  docs/VISUALIZATION_DEPLOYMENT_COMPLETE.md
Due: prettier --write

feat: add interactive agent ecosystem dashboard
  docs/visualizations/agent-ecosystem-dashboard.html
Due: none

remove: delete useless static HTML dashboard
  docs/visualizations/agent-ecosystem-dashboard.html
Due: none

feat: add real-time dashboard API endpoints
  src/server/app.ts
  src/server/routes/dashboard.ts
Due: eslint --fix, prettier --write

fix: update OSSA CI configuration to use v0.1.62 components
  .gitlab-ci.yml
Due: prettier --write

feat: add universal type generator task to roadmap
  ROADMAP.md
Due: prettier --write

Auto-commit: Push uncommitted changes from feature/architecture-visualization
  ROADMAP.md
Due: prettier --write

chore: OSSA cleanup - schema-only principle (Phase 1)
  CLEANUP_PLAN.md
  README.md
  jest.config.js
  package.json
  spec/openapi/helm-generator.yaml
  spec/openapi/ossa-registry-api.yaml
  spec/openapi/ossa-registry.openapi.yml
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, eslint --fix, prettier --write

chore: clean up root directory - remove emojis, backups, and reorganize files
  .env.phoenix
  .gitlab-ci-simple.yml
  .ossa.yaml
  CLEANUP_PLAN.md
  COMPLIANCE-ENGINE_backup.md
  OSSA-IMPLEMENTATION-SUMMARY.md
  README.md
  RELEASE.md
  ROADMAP.json
  ROADMAP_consolidated.md
  SETUP.md
  ecosystem-compliance.json
  infrastructure/docker/docker-compose.networks.yml
  infrastructure/docker/docker-compose.orbstack.yml
  infrastructure/scripts/generate-missing-agents.ts
  openapi/openapi.yml
  package.json.bak
  pnpm-lock.yaml
Due: npx @redocly/cli lint --config .redocly.yaml, eslint --fix, prettier --write

Path conditions:
  npx @redocly/cli lint --config ../.redocly.yaml: any of: **/*.{openapi.yml,openapi.yaml}
  npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json: any of: **/*.{openapi.yml,openapi.yaml}
  npx @redocly/cli lint --config .redocly.yaml: any of: **/openapi/*.{yml,yaml}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{json,md,yml,yaml})
