Repository BlueflyCollective/openstandardagents: changes, and which lint-staged commands are due for each by the changed paths.
All: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{openapi.yml,openapi.yaml}": [
    "npx @redocly/cli lint --config ../.redocly.yaml",
    "npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json"
  ],
  "**/openapi/*.{yml,yaml}": [
    "npx @redocly/cli lint --config .redocly.yaml"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Fix: Workflow agent generation and test improvements
  .gitlab-ci.yml
  website/app/api/validate/route.ts
  website/app/license/page.tsx
  website/app/page.tsx
  website/app/playground/page.tsx
  website/content/docs/getting-started/running-agents.md
  website/content/docs/integrations/drupal.md
  website/lib/version.ts
  website/public/licenses/apache-2.0.txt
  website/scripts/sync-version.js
Due: eslint --fix, prettier --write

fix: examples page to work with static export
  website/app/examples/page.tsx
  website/package.json
  website/scripts/generate-examples-index.js
Due: eslint --fix, prettier --write

fix: generate examples.json in Docker build
  website/Dockerfile
Due: none

fix: Dockerfile to copy examples directory for examples.json generation
  website/Dockerfile
Due: none

fix: examples page path resolution for dev mode
  website/app/examples/page.tsx
Due: eslint --fix, prettier --write

fix: simplify examples path resolution to use path.resolve
  website/app/examples/page.tsx
Due: eslint --fix, prettier --write

fix: fix broken getting-started route and integrate wiki sync
  .gitlab-ci.yml
  openapi/CHANGELOG-0.2.4.md
  openapi/README-0.2.4.md
  openapi/VERIFICATION-0.2.4.md
  website/.gitignore
  website/app/docs/[[...slug]]/page.tsx
  website/content/docs/getting-started/index.md
  website/package.json
  website/scripts/merge-docs-to-wiki.ts
  website/scripts/sync-wiki.ts
  website/scripts/upload-wiki.ts
Due: eslint --fix, prettier --write

fix: complete OpenAPI error resolution
  openapi/ossa-core-api.openapi.yaml
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, prettier --write

fix: resolve OpenAPI validation errors and test failures
  openapi/ossa-registry.openapi.yaml
  tests/e2e/full-workflow.test.ts
  tests/integration/cli/generate.test.ts
  tests/integration/cli/validate.test.ts
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, eslint --fix, prettier --write

fix: ensure reflect-metadata and inversify are installed
  package-lock.json
  package.json
Due: prettier --write

fix: properly implement dynamic versions in playground
  website/app/playground/page.tsx
Due: eslint --fix, prettier --write

Update package.json and README.md with correct repository, homepage, and issues URLs
  README.md
  package.json
  website/app/blog/page.tsx
  website/app/design-guide/page.tsx
  website/app/docs/[[...slug]]/page.tsx
  website/app/globals.scss
  website/app/layout.tsx
  website/app/page.tsx
  website/app/schema/page.tsx
  website/app/specification/page.tsx
  website/components/Logo.tsx
  website/components/docs/DocsSidebar.tsx
  website/components/docs/MarkdownContent.tsx
  website/components/layout/Footer.tsx
  website/components/layout/Header.tsx
  website/components/schema/SchemaComponentsAccordion.tsx
  website/components/schema/SchemaExplorer.tsx
  website/content/blog/OpenAPI-AI-Agents-Standard.md
  website/content/blog/introducing-ossa-framework.md
  website/content/blog/ossa-production-results.md
  website/content/blog/welcome-to-ossa.md
  website/content/blog/why-ai-agents-need-open-standard.md
  website/content/docs/examples/AIFlow-Framework-Integration-with-OSSA.md
  website/package-lock.json
  website/package.json
  website/public/schemas/ossa-0.2.3.schema.json
  website/scripts/generate-examples-index.js
  website/styles/_variables.scss
  website/tailwind.config.ts
Due: eslint --fix, prettier --write

Convert css to scss and build variables to match style guide
  website/app/design-guide/page.tsx
  website/app/docs/[[...slug]]/page.tsx
  website/app/globals.scss
  website/app/page.tsx
  website/app/schema/page.tsx
  website/app/specification/page.tsx
Due: eslint --fix, prettier --write

feat(ci): remove manual version selection, use automatic milestone-controlled releases
  .gitlab-ci.yml
  .releaserc.json
  release.config.js
Due: eslint --fix, prettier --write

feat(ci): add support for skipping releases on merge to main
  .gitlab-ci.yml
Due: prettier --write

chore: prepare v0.2.4 release
  package.json
  website/lib/version.ts
  website/package.json
Due: eslint --fix, prettier --write

fix: resolve OpenAPI validation errors
  openapi/gitlab-orchestrator.openapi.yaml
  openapi/ossa-core-api.openapi.yaml
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, prettier --write

docs: comprehensive v0.2.4 website updates
  website/content/docs/00-HOME.md
  website/content/docs/changelog.md
  website/content/docs/getting-started/First-Agent.md
  website/content/docs/getting-started/Hello-World.md
  website/content/docs/migration-guides/v0.2.3-to-v0.2.4.md
  website/content/docs/milestone-organization-v0.2.4.md
  website/content/docs/ossa-ci-cd-agents.md
  website/content/docs/schema-reference/index.md
  website/content/docs/schema-reference/ossa-manifest.md
  website/content/docs/schema-reference/security.md
  website/content/docs/schema-reference/state.md
  website/content/docs/schema-reference/transport.md
  website/content/docs/v0.2.4-release-checklist.md
Due: prettier --write

docs: update First-Agent guide with v0.2.4 features
  website/content/docs/getting-started/First-Agent.md
Due: prettier --write

fix: fix last remaining broken link in Migration-Guides.md
  website/content/docs/examples/Migration-Guides.md
Due: prettier --write

fix: suppress hydration warning for body tag (browser extension attributes)
  website/app/layout.tsx
Due: eslint --fix, prettier --write

fix(ci): make release job manual to prevent accidental releases
  .gitlab-ci.yml
Due: prettier --write

feat(ci): require completed milestone before allowing release
  .gitlab-ci.yml
Due: prettier --write

fix(ci): remove ** characters from MR description to fix YAML alias parsing error
  .gitlab-ci.yml
Due: prettier --write

chore: add TypeScript CI scripts to git
  .gitlab/scripts/check-milestone-ready.ts
  .gitlab/scripts/prepare-spec-from-milestone.ts
  .gitlab/scripts/sync-spec-to-milestone.ts
  .gitlab/scripts/validate-release-readiness.ts
Due: eslint --fix, prettier --write

chore: remove old shell scripts, update README for TypeScript migration
  .gitlab/scripts/README.md
  .gitlab/scripts/auto-label-mr.sh
  .gitlab/scripts/prepare-spec-from-milestone.sh
  .gitlab/scripts/sync-spec-to-milestone.sh
Due: prettier --write

chore: reduce website dependabot PR limit to 3
  .github/dependabot.yml
Due: prettier --write
