Repository BlueflyCollective/openstandardagents: changes, and which lint-staged commands are due for each by the changed paths.
All: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{openapi.yml,openapi.yaml}": [
    "npx @redocly/cli lint --config ../.redocly.yaml",
    "npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json"
  ],
  "**/openapi/*.{yml,yaml}": [
    "npx @redocly/cli lint --config .redocly.yaml"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix: pages job should run even if release stages fail
  .gitlab-ci.yml
Due: prettier --write

fix: sync @types/react version with react 18.3.1
  website/package-lock.json
  website/package.json
Due: prettier --write

fix: add missing website dependencies and downgrade to Tailwind v3
  website/package-lock.json
  website/package.json
  website/tailwind.config.ts
Due: eslint --fix, prettier --write

fix: update to Next.js 15 async params and fix ESLint errors
  website/app/blog/[slug]/page.tsx
  website/app/docs/[[...slug]]/page.tsx
  website/components/schema/SchemaExplorer.tsx
Due: eslint --fix, prettier --write

fix: remove blog routes to resolve Next.js static export issue
  content/blog/welcome.md
  website/app/blog/[slug]/page.tsx
  website/app/blog/page.tsx
Due: eslint --fix, prettier --write

feat: implement semantic-release automation like OpenAPI
  .github/workflows/release.yml
  .gitlab-ci.yml
  .releaserc.json
  CONTRIBUTING.md
Due: prettier --write

feat: add 'Why OSSA?' section explaining agent fragmentation problem
  website/app/page.tsx
Due: eslint --fix, prettier --write

fix: add missing Fragment closing tag in playground page
  website/app/playground/page.tsx
Due: eslint --fix, prettier --write

feat: comprehensive examples page enhancement and GitHub branding
  website/app/examples/page.tsx
  website/components/examples/ExamplesViewer.tsx
  website/components/layout/Header.tsx
Due: eslint --fix, prettier --write

fix: repair generateStaticParams for static export
  .gitlab-ci.yml
  infrastructure/k8s/website-deployment.yaml
  website/tsconfig.json
Due: prettier --write

fix: update release-all-platforms to work with CI_JOB_TOKEN
  .gitlab-ci.yml
Due: prettier --write

feat: enhance website with comprehensive blog and improved docs
  infrastructure/backups/containers-20251117-213446.txt
  infrastructure/backups/images-20251117-213734.txt
  infrastructure/backups/k8s-full-backup-20251117-212402.yaml
  infrastructure/backups/namespaces-backup-20251117-213225.yaml
  infrastructure/backups/volumes-20251117-214059.txt
Due: prettier --write

fix: disable force-static in dev mode to fix 404s
  website/app/docs/[[...slug]]/page.tsx
Due: eslint --fix, prettier --write

fix: correct all internal links and add compact install component
  infrastructure/backups/containers-20251117-213446.txt
  infrastructure/backups/images-20251117-213734.txt
  infrastructure/backups/k8s-full-backup-20251117-212402.yaml
  infrastructure/backups/namespaces-backup-20251117-213225.yaml
  infrastructure/backups/volumes-20251117-214059.txt
Due: prettier --write

fix: make version references generic (v0.2.x)
  website/app/docs-temp/page-clean.tsx
  website/app/schema/page.tsx
Due: eslint --fix, prettier --write

docs: feature Core Concepts prominently on docs homepage
  website/app/docs/[[...slug]]/page.tsx
Due: eslint --fix, prettier --write

docs: update README branding to 'Scalable AI Agents'
  README.md
Due: prettier --write

fix: update hello-world example to v0.2.x
  examples/getting-started/hello-world-complete.ossa.yaml
Due: prettier --write

docs: update all documentation to use v0.2.x instead of hardcoded versions
  website/content/docs/architecture/execution-flow.md
  website/content/docs/architecture/multi-agent-systems.md
  website/content/docs/architecture/stack-integration.md
  website/content/docs/examples/Migration-Guides.md
  website/content/docs/getting-started/5-Minute-Overview.md
  website/content/docs/getting-started/First-Agent.md
  website/content/docs/getting-started/Hello-World.md
  website/content/docs/schema-reference/index.md
  website/content/docs/use-cases/cicd-code-review.md
  website/content/docs/use-cases/customer-support.md
  website/content/docs/use-cases/enterprise-compliance.md
  website/content/docs/use-cases/research-multi-agent.md
Due: prettier --write

feat: enhance GitHub Actions and update repository URLs
  .github/workflows/release.yml
  .releaserc.json
  package.json
  website/app/about/page.tsx
  website/app/blog/[slug]/page.tsx
  website/app/docs/[[...slug]]/page.tsx
  website/app/ecosystem/page.tsx
  website/app/page.tsx
  website/app/robots.ts
  website/app/rss.xml/route.ts
  website/app/schema/page.tsx
  website/app/sitemap.ts
  website/components/StructuredData.tsx
  website/components/docs/MarkdownContent.tsx
  website/components/docs/VersionSelector.tsx
  website/components/layout/Footer.tsx
  website/components/layout/Header.tsx
  website/components/schema/SchemaExplorer.tsx
  website/content/docs/00-HOME.md
  website/content/docs/changelog.md
  website/content/docs/ecosystem/framework-support.md
  website/content/docs/ecosystem/overview.md
  website/content/docs/examples/Migration-Guides.md
  website/content/docs/for-audiences/Enterprises.md
  website/content/docs/for-audiences/Students-Researchers.md
  website/content/docs/getting-started/5-Minute-Overview.md
  website/content/docs/getting-started/Hello-World.md
  website/content/docs/integrations/aiflow.md
  website/content/docs/migration-guides/00-INDEX.md
  website/content/docs/migration-guides/drupal-eca-to-ossa.md
  website/content/docs/migration-guides/langchain-to-ossa.md
  website/content/docs/migration-guides/langflow-to-ossa.md
  website/content/docs/migration-guides/openai-to-ossa.md
  website/content/docs/openapi-extensions/index.md
  website/lib/version.ts
  website/package.json
  website/scripts/sync-version.js
Due: eslint --fix, prettier --write

fix: Clean up apiVersion examples in schema
  website/public/schemas/ossa-0.2.3.schema.json
Due: prettier --write

fix: Make wiki sync skip gracefully when no token available
  website/scripts/sync-wiki.ts
Due: eslint --fix, prettier --write

fix: Handle 401/403 wiki API errors gracefully
  website/scripts/sync-wiki.ts
Due: eslint --fix, prettier --write

fix: Remove duplicate frontmatter from blog post
  website/content/blog/Why-Formal-Standards-Matter-Now.md
Due: prettier --write

chore: merge development to main
  website/scripts/sync-wiki.ts
Due: eslint --fix, prettier --write

fix: replace all gitlab.bluefly.io links with github.com across docs
  website/content/docs/00-HOME.md
  website/content/docs/AIFlow-Framework-Integration-with-OSSA.md
  website/content/docs/OpenAPI-Extensions.md
  website/content/docs/changelog.md
  website/content/docs/ecosystem/framework-support.md
  website/content/docs/examples/Migration-Guides.md
  website/content/docs/for-audiences/Enterprises.md
  website/content/docs/for-audiences/Students-Researchers.md
  website/content/docs/getting-started/Hello-World.md
  website/content/docs/integrations/aiflow.md
  website/content/docs/integrations/drupal.md
  website/content/docs/migration-guides/README.md
  website/content/docs/migration-guides/drupal-eca-to-ossa.md
  website/content/docs/migration-guides/index.md
  website/content/docs/migration-guides/langchain-to-ossa.md
  website/content/docs/migration-guides/langflow-to-ossa.md
  website/content/docs/migration-guides/openai-to-ossa.md
  website/content/docs/openapi-extensions/index.md
  website/content/docs/pre-release/index.md
  website/content/docs/templates/blog-post.md
Due: prettier --write

fix: correct npm registry auth token format in CI
  .gitlab-ci.yml
Due: prettier --write

update versions
  .github/workflows/release.yml
  .gitlab-ci.yml
  CONTRIBUTING.md
  README.md
  docs/OSSA-COMPLIANT-BADGE.md
  docs/README.md
  docs/getting-started.md
  package.json
  release.config.js
  spec/v0.2.3/CHANGELOG.md
  spec/v0.2.3/README.md
  spec/v0.2.3/migrations/v0.2.2-to-v0.2.3.md
  spec/v0.2.4-dev/CHANGELOG.md
  spec/v0.2.4-dev/migrations/v0.2.3-to-v0.2.4.md
  src/repositories/schema.repository.ts
  website/app/schema/page.tsx
  website/app/specification/page.tsx
  website/components/docs/VersionSelector.tsx
  website/content/blog/ossa-production-results.md
  website/content/docs/00-HOME.md
  website/content/docs/OpenAPI-Extensions.md
  website/content/docs/changelog.md
  website/content/docs/for-audiences/Developers.md
  website/content/docs/getting-started/5-Minute-Overview.md
  website/content/docs/getting-started/Installation.md
  website/content/docs/getting-started/running-agents.md
  website/content/docs/openapi-extensions/index.md
  website/content/docs/pre-release/index.md
  website/content/docs/use-cases/00-index.md
  website/package.json
  website/scripts/fetch-versions.js
Due: eslint --fix, prettier --write

fix: categorize v0.2.4-dev as prerelease instead of dev
  website/scripts/fetch-versions.js
Due: eslint --fix, prettier --write

fix: resolve test errors - add reflect-metadata requirement and ensure dependencies installed
  .releaserc.json.disabled
  package-lock.json
  package.json
  tests/e2e/full-workflow.test.ts
  tests/integration/cli/generate.test.ts
  tests/integration/cli/validate.test.ts
Due: eslint --fix, prettier --write

chore: remove unused website files and make GitLab scripts dynamic
  .gitlab/agents/ossa-agent/config.yaml
  .gitlab/scripts/assign-issues-to-milestones.py
  .gitlab/scripts/cleanup-milestones.py
  .gitlab/scripts/migrate-to-gitlab.py
  .gitlab/scripts/reassign-issues-from-closed-milestones.py
  CONTRIBUTING.md
  README.md
  docs/OSSA-COMPLIANT-BADGE.md
  docs/README.md
  docs/VERSIONING.md
  docs/getting-started.md
  docs/openapi-extensions.md
  examples/bridges/Dockerfile.production
  examples/getting-started/hello-world-complete.ossa.yaml
  examples/openapi-extensions/README.md
  infrastructure/gitlab-agent/rbac.yaml
  infrastructure/gitlab-agent/values.yaml
  openapi/gitlab-agent.openapi.yaml
  openapi/ossa-core-api.openapi.yaml
  openapi/self-evolving-ecosystem.openapi.yaml
  openapi/unified-agent-gateway.openapi.yaml
  package.json
  spec/v0.2.3/CHANGELOG.md
  spec/v0.2.3/README.md
  spec/v0.2.3/migrations/v0.2.2-to-v0.2.3.md
  spec/v0.2.4-dev/CHANGELOG.md
  spec/v0.2.4-dev/migrations/v0.2.3-to-v0.2.4.md
  spec/v0.2.4-dev/ossa-0.2.4-dev.yaml
  spec/v0.2.5-dev/CHANGELOG.md
  spec/v0.2.5-dev/migrations/v0.2.4-to-v0.2.5.md
  spec/v0.2.5-dev/ossa-0.2.5-dev.yaml
  src/cli/commands/gitlab-agent.command.ts
  src/cli/index.ts
  src/services/gitlab-agent.service.ts
  website/content/docs/getting-started/index.md
  website/content/docs/integrations/drupal.md
  website/public/docs/openapi-extensions.html
  website/public/openapi/self-evolving-ecosystem-v1.yaml
  website/public/openapi/unified-agent-gateway.openapi.yml
  website/scripts/sync-wiki.ts
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, eslint --fix, prettier --write

feat: complete plan implementation - dynamic website versioning and CI/CD
  website/app/api/validate/route.ts
  website/app/playground/page.tsx
  website/app/specification/page.tsx
Due: eslint --fix, prettier --write

fix: prioritize npm dist-tags for stable/dev version detection
  website/scripts/fetch-versions.js
Due: eslint --fix, prettier --write

fix: remove dependencies from semantic-release:preview - use needs only
  .gitlab-ci.yml
Due: prettier --write

fix: remove API route and add STABLE_VERSION export alias
  website/app/api/validate/route.ts
  website/lib/version.ts
  website/scripts/sync-version.js
Due: eslint --fix, prettier --write

docs: Add running agents guide and Drupal integration docs
  website/content/docs/getting-started/running-agents.md
  website/content/docs/integrations/drupal.md
Due: prettier --write

fix: remove colon from echo statement in promote jobs
  .gitlab-ci.yml
Due: prettier --write

fix: remove colon from all Version echo statements in CI
  .gitlab-ci.yml
Due: prettier --write

fix: remove all colons from echo statements in semantic-release preview
  .gitlab-ci.yml
Due: prettier --write
