Repository BlueflyCollective/openstandardagents: changes, and which lint-staged commands are due for each by the changed paths.
All: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, npx @redocly/cli lint --config .redocly.yaml, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{openapi.yml,openapi.yaml}": [
    "npx @redocly/cli lint --config ../.redocly.yaml",
    "npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json"
  ],
  "**/openapi/*.{yml,yaml}": [
    "npx @redocly/cli lint --config .redocly.yaml"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix: complete SSH authentication restoration with libcrypto fixes
  .gitlab/components/workflow/golden/template.yml
Due: prettier --write

feat: add GitLab Pages with Redocly API docs and release tagging
  .gitlab-ci.yml
  package-lock.json
  package.json
  public/api-docs.html
  public/redocly-config.yaml
Due: prettier --write

feat: enhance documentation styling consistency and fix npm scripts
  package.json
  public/docs/development/roadmap.html
  public/docs/specification/agents.html
Due: prettier --write

fix: use npm install instead of npm ci in pages job
  .gitlab-ci.yml
Due: prettier --write

fix: enable all CI jobs to run on pages branch
  .gitlab-ci.yml
  ROADMAP.md
Due: prettier --write

refactor: reorganize OSSA project structure
  PROJECT_STRUCTURE.md
  infrastructure/k8s/deployment.yaml
  infrastructure/monitoring/prometheus.yml
  infrastructure/nginx/nginx.conf
  infrastructure/qdrant_storage/aliases/data.json
  infrastructure/qdrant_storage/raft_state.json
  scripts/deployment/standardize-all-projects.sh
  scripts/docs/docs-pipeline.sh
  scripts/docs/docs-safe-reorg.sh
  scripts/docs/generate-api-docs.sh
  scripts/docs/organize-docs.sh
  scripts/docs/serve-api-docs.sh
  scripts/federation/activate-federated-learning.ts
  scripts/federation/activate-with-existing-qdrant.ts
  scripts/federation/launch-federated-network.sh
  scripts/federation/monitor-activation.sh
  scripts/federation/vortex-federated-integration.ts
  scripts/validation/validate-golden.ts
  scripts/validation/validate-schemas.cjs
  specs/README.md
  specs/acdl-specification.yml
  specs/clean-architecture.openapi.yml
  specs/context7-mcp.openapi.yml
  specs/magic-mcp.openapi.yml
  specs/mcp-infrastructure.openapi.yml
  specs/orchestration.openapi.yml
  specs/ossa-complete.openapi.yml
  specs/project-discovery.openapi.yml
  specs/rebuild-audit.openapi.yml
  specs/specification.openapi.yml
  specs/test-api.openapi.yml
  specs/voice-agent-specification.yml
  specs/web-eval-mcp.openapi.yml
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, eslint --fix, prettier --write

feat: enable automatic tagging for feature branches in CI
  .gitlab-ci.yml
Due: prettier --write

ci: test tag creation with GITLAB_TOKEN
  .gitlab-ci-test.txt
Due: none

backup: complete OSSA implementation before standard separation
  .agents/config/discovery.yml
  .agents/config/ossa.yml
  .agents/config/project.yml
  .agents/config/routing.yml
  .agents/critics/code-reviewer/Dockerfile
  .agents/critics/code-reviewer/config/default.json
  .agents/critics/code-reviewer/package.json
  .agents/critics/code-reviewer/src/handlers.ts
  .agents/critics/code-reviewer/src/index.ts
  .agents/critics/code-reviewer/src/metrics.ts
  .agents/critics/code-reviewer/src/quality.ts
  .agents/critics/code-reviewer/src/security.ts
  .agents/critics/code-reviewer/src/types.ts
  .agents/critics/code-reviewer/src/utils.ts
  .agents/critics/code-reviewer/tsconfig.json
  .gitlab-ci.yml
Due: eslint --fix, prettier --write

feat: separate OSSA standard from implementation
  .gitlab-ci.yml
  package.json
  packages/ossa-specification/README.md
  packages/ossa-specification/package.json
  packages/ossa-specification/schemas/agent-manifest.schema.json
  packages/ossa-specification/schemas/capability.schema.json
  packages/ossa-specification/schemas/conformance.schema.json
  packages/ossa-specification/schemas/workflow.schema.json
  packages/ossa-specification/src/index.ts
  packages/ossa-specification/src/types.ts
  packages/ossa-specification/tsconfig.json
  packages/ossa-validator/README.md
  packages/ossa-validator/package.json
  packages/ossa-validator/src/cli.ts
  packages/ossa-validator/src/index.ts
  packages/ossa-validator/src/validator.ts
  packages/ossa-validator/tsconfig.json
Due: eslint --fix, prettier --write

feat: implement comprehensive GitLab CI/CD and Kubernetes deployment
  .gitlab-ci-ossa.yml
  .gitlab-ci.yml
  examples/enterprise/agent.yml
  examples/minimal/agent.yml
  examples/minimal/openapi.yaml
  examples/production/agent.yml
  kubernetes/base/api-deployment.yaml
  kubernetes/base/database-deployment.yaml
  kubernetes/base/ingress.yaml
  kubernetes/base/kustomization.yaml
  kubernetes/base/monitoring.yaml
  kubernetes/base/redis-deployment.yaml
  kubernetes/base/validator-deployment.yaml
  kubernetes/overlays/production/kustomization.yaml
  kubernetes/overlays/production/production-patches.yaml
  kubernetes/overlays/production/production.env
  kubernetes/overlays/staging/kustomization.yaml
  kubernetes/overlays/staging/staging-patches.yaml
  kubernetes/overlays/staging/staging.env
  packages/ossa-api/database/schema.sql
  packages/ossa-api/openapi.yaml
  packages/ossa-specification/schemas/meta/conformance-levels.json
  packages/ossa-specification/schemas/meta/protocol-mappings.json
  packages/ossa-specification/schemas/v1.0/bridge.schema.json
  packages/ossa-specification/schemas/v1.0/capability.schema.json
  packages/ossa-specification/schemas/v1.0/discovery.schema.json
  packages/ossa-specification/schemas/v1.0/monitoring.schema.json
  packages/ossa-specification/schemas/v1.0/performance.schema.json
  packages/ossa-specification/schemas/v1.0/roadmap.schema.json
  packages/ossa-specification/src/index.ts
  packages/ossa-specification/src/types/agent.ts
  packages/ossa-specification/src/types/bridge.ts
  packages/ossa-specification/src/types/capability.ts
  packages/ossa-specification/src/types/discovery.ts
  packages/ossa-specification/src/types/index.ts
  packages/ossa-specification/src/types/monitoring.ts
  packages/ossa-specification/src/types/performance.ts
  packages/ossa-validator/src/bridges/gitlab/bridge.ts
  packages/ossa-validator/src/integrations/linear.ts
  packages/ossa-validator/src/validators/dual-format.ts
Due: eslint --fix, prettier --write

docs: add architecture clarification from audit to ROADMAP.md
  ROADMAP.md
Due: prettier --write

cleanup: consolidated k8s to infrastructure, removed redundant files
  agent_compliance_audit.sh
  infrastructure/base/api-deployment.yaml
  infrastructure/base/database-deployment.yaml
  infrastructure/base/deployment.yaml
  infrastructure/base/ingress.yaml
  infrastructure/base/kustomization.yaml
  infrastructure/base/monitoring.yaml
  infrastructure/base/redis-deployment.yaml
  infrastructure/base/validator-deployment.yaml
  infrastructure/overlays/production/kustomization.yaml
  infrastructure/overlays/production/production-patches.yaml
  infrastructure/overlays/production/production.env
  infrastructure/overlays/staging/kustomization.yaml
  infrastructure/overlays/staging/staging-patches.yaml
  infrastructure/overlays/staging/staging.env
  ossa-migration-report.json
  ossa-validation-report.json
  redocly.yaml
Due: prettier --write

docs cleanup: removed generated capability matrix files and empty dirs
  docs/capability-matrix.html
  docs/capability-matrix.json
Due: prettier --write

refactor: convert scripts to API endpoints and cleanup
  scripts/clean-ossa-structure.sh
  scripts/deployment/standardize-all-projects.sh
  scripts/docs/docs-pipeline.sh
  scripts/docs/docs-safe-reorg.sh
  scripts/docs/organize-docs.sh
  scripts/docs/serve-api-docs.sh
  scripts/federation/activate-federated-learning.ts
  scripts/federation/activate-with-existing-qdrant.ts
  scripts/federation/launch-federated-network.sh
  scripts/federation/monitor-activation.sh
  scripts/federation/vortex-federated-integration.ts
  scripts/multi-repo-ossa-migration.cjs
  src/api/ossa-management.openapi.yml
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, eslint --fix, prettier --write

fix: resolve CI pipeline failures by removing inaccessible component
  .gitlab-ci.yml
Due: prettier --write

fix: remove npm dependency from CI - project has no package.json
  .gitlab-ci.yml
Due: prettier --write

fix: use golden template structure with rules instead of only
  .gitlab-ci.yml
Due: prettier --write

fix: gitlab ci yaml syntax issues
  .gitlab-ci.yml
Due: prettier --write

fix: remove duplicate rules in security job
  .gitlab-ci.yml
Due: prettier --write

refactor: simplify CI pipeline for specification project
  .gitlab-ci-simple.yml
  .gitlab-ci.yml
Due: prettier --write

fix: add semicolons to echo statements in build script
  .gitlab-ci.yml
Due: prettier --write

feat: update OSSA roadmap for v0.2.0 development
  ROADMAP.md
Due: prettier --write

fix: resolve mock server port binding issue in CI/CD pipeline
  .gitlab-ci.yml
Due: prettier --write

fix: resolve mock server port mismatch in CI/CD
  .gitlab-ci.yml
  package.json
Due: prettier --write

fix: add all missing dependencies for CI/CD
  package-lock.json
  package.json
Due: prettier --write

feat: implement service registry with integration milestones
  ROADMAP.md
  docs/service-registry.md
  examples/service-registry-usage.ts
  src/api/registry.ts
  src/api/service-registry.openapi.yml
  src/services/ServiceRegistry.ts
  src/types/index.ts
  tests/api/registry.test.ts
  tests/services/ServiceRegistry.test.ts
Due: npx @redocly/cli lint --config ../.redocly.yaml, npx @redocly/cli bundle --ext json --dereferenced=false --output /tmp/bundled.json, eslint --fix, prettier --write

fix: resolve test configuration and import issues
  jest.config.cjs
  package-lock.json
  package.json
  src/services/EventBus/RedisEventBus.ts
  tests/basic.test.ts
Due: eslint --fix, prettier --write

fix: complete TypeScript build fixes for v0.1.9
  src/services/EventBus/RedisEventBus.ts
Due: eslint --fix, prettier --write

feat: add batch standardization script for LLM projects
  scripts/batch-standardize.ts
Due: eslint --fix, prettier --write

feat: add OSSA v0.1.9 standard specifications
  OSSA-IMPLEMENTATION-SUMMARY.md
  README.md
  ROADMAP.md
  docs/LANGFLOW_INTEGRATION_MASTER_PLAN.md
  docs/LANGFLOW_QUICKSTART.md
  docs/platform-evolution-roadmap.json
  docs/platform-evolution-roadmap.md
  ecosystem-compliance.json
  infrastructure/docker-compose.observability.yml
  openapi.yml
  package.json
  playwright.config.ts
  specifications/README.md
  specifications/compliance/requirements.md
  specifications/core/agent-classification.md
  specifications/core/agent-lifecycle.md
  specifications/protocols/agent-communication-protocol.md
  specifications/standards/three-tier-action-items.md
  src/cli/ossa-cli.ts
  src/knowledge/EcosystemGraph.ts
  tests/e2e/drupal-integration.spec.ts
  tests/e2e/global-setup.ts
  tests/e2e/global-teardown.ts
  tests/e2e/ossa-api.spec.ts
Due: eslint --fix, prettier --write

feat: integrate GitLab components - OSSA
  .gitlab-ci.yml
Due: prettier --write

feat: add agent structure gap analysis to OSSA roadmap
  .ossa.yaml
  ROADMAP.md
  infrastructure/README.md
  infrastructure/docker/Dockerfile
  infrastructure/docker/docker-compose.production.yml
  infrastructure/docker/docker-compose.yml
Due: prettier --write

fix: restore GitLab component include in CI pipeline
  .gitlab-ci.yml
Due: prettier --write

fix: remove broken GitLab component, restore standalone CI
  .gitlab-ci.yml
Due: prettier --write

fix: use local GitLab component instead of remote
  .gitlab-ci.yml
Due: prettier --write
